body{
	background-color: #eceff1 !important;
}
.padding-largo{
	padding: 1.2em;
}

.primary{
	background-color: #03a9f4 !important;
}
.primary-dark{
	background-color: #303f9f !important;
}
.accent{
	background-color: #18ffff !important;
}
.rojo-oscuro{
	color: #d50000 !important;
}

.titulos{
	font-size: 1em !important;
}
.subtitulos{
	font-size: 1.2em !important; 
}
.verDriver{
	padding: 1.2em 1.2em 1.2em 1.2em !important;
}