@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
html,body{
  font-family: 'Roboto', sans-serif !important;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
	background-color: #eceff1 !important;
}
.padding-largo{
	padding: 1.2em;
}

.primary{
	background-color: #03a9f4 !important;
}
.primary-dark{
	background-color: #303f9f !important;
}
.accent{
	background-color: #18ffff !important;
}
.rojo-oscuro{
	color: #d50000 !important;
}
.be-white{
  background-color: #FFF !important;
}
.be-black{
  color: #000 !important;
}
.titulos{
	font-size: 1em !important;
}
.subtitulos{
	font-size: 1.2em !important; 
}
.verDriver{
	padding: 1.2em 1.2em 1.2em 1.2em !important;
}
.menulateral{

  position: fixed;
  width: 240px;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 10;
  overflow-y: auto;
  background-color: #37474F;

}
.logo{
  height: 10em;
  background-color: #263238 !important;
}
.menulateral ul li {
  
  }
.menulateral ul li a{
  display: block;
  padding: 1.1em;
  color: #78909C !important;
  font-family: 'Slabo 27px', serif;
  font-size: 1.3em;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.menulateral ul li a:hover{
  background-color: #03a9f4 !important;
  color: #fff !important;
  cursor: hand;
}